<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RingCentral High Volume SMS</title>
    <link href="./img/favicon.ico" type="image/vnd.microsoft.icon" rel="shortcut icon">
    <link href="./img/favicon.ico" type="image/vnd.microsoft.icon" rel="icon">
    <script src="js/common.js" type="text/javascript"></script>
    <script src="js/create-campaign.js" type="text/javascript"></script>
    <script src="js/highvolume-sms.js" type="text/javascript"></script>

    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/css/bootstrap-select.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/js/bootstrap-select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <link rel="stylesheet" type="text/css" href="css/campaigns.css">
    <script>
      $(document).ready(function(){
          $('[data-toggle="popover"]').popover();
      });

      $(document).ready(function() {
        $('#message').on('keyup keypress', function() {
          $(this).height(0);
          $(this).height(this.scrollHeight);
        });
      });
    </script>
</head>
<body onload="init()">
  <%- include('_feedback_form') %>
  <%- include('_alert_dialog') %>
  <%- include('_menu_header') %>
  <section id='content'>
    <div class="row col-lg-12">
      <%- include('_menu') %>
      <div id="create" class="row col-lg-11" style="display: none">
        <div id="creation-pane" class="col-lg-4 control-pane large-pane">
          <div class="form-inline" style="margin-top: 20px">
            <div id="result-block" class="result-block" style="margin-top:0px;display: block">
              <span style="height:50px;margin-bottom:10px"><b>Sending Progress</b></span>&nbsp;&nbsp;
              <img src='./img/sendprogress.gif' id="sendingAni" style='width:30px;height:20px;'></img>
              <div id="time"></div>
              <div id="status"></div>
              <div id="result"></div>
              <input id="download-reject-number" type="button" class="rc-oval-btn" style="margin-top:20px;display: none" onclick="switchToHistoryView()" value="Continue"></input>
            </div>
            <form id="sms-form" style="display: none" class="form-group" enctype="multipart/form-data">
              <div id="block_1" class="input_page">
                <div class="block_space">
                  <!--label class="label-input"></label-->
                  <input type="text" id="campaign-name" size="37" oninput="updatePreview('title')" class="form-control text-input" name="campaign_name" placeholder="Enter a campaign title" data-placement="right" data-content="Please provide a campaign name"></input>
                </div>
                <div class="block_space">
                  <!--label class="label-input"></label-->
                  <% if (phoneNumbers.length > 1) { %>
                  <select data-width="291" id="from-number" onchange="updatePreview('from')" name="from_number" class="selectpicker filter-select" title="Select your phone number" data-placement="right" data-content="Please select a 'from' number">
                  <% }else {%>
                  <select data-width="291" id="from-number" onchange="updatePreview('from')" name="from_number" class="selectpicker filter-select">
                  <% } %>
                    <% for (var item of phoneNumbers) { %>
                      <option value="<%- item.number %>" selected><%= item.format %> - <%= item.type %></option>
                    <% } %>
                  </select>
                </div>

                <div class="block_space">
                  <label>How do you want to provide recipients' phone number?</label>
                  <div class="block_space">
                    <label class="radio-inline"><input id="enable-csv-template" type="radio" name="enable_manual_input" value="csv" checked onchange="enableManualInput(this)"></input> From .csv file</label>
                    <label class="radio-inline"><input id="enable-manual-input" type="radio" name="enable_manual_input" value="manual" onchange="enableManualInput(this)"></input> Manually</label>
                  </div>
                  <div class="block_space">
                    <!--div>Manually enter phone numbers <input type="checkbox" id="enable-manual-input" name="enable_manual_input" onchange="enableManualInput(this)"></input></div-->
                    <div id="csv-option">Load a CSV file <input type="file" id="attachment" name="attachment" class="form-control" onchange="readFileRecipients(this, null)" data-placement="right" data-content="Select a CSV template file or enable manual input mode."></input></div>
                  </div>
                </div>
                <!-- new test -->
                <div id="manual-input" class="block_space" style="display: none">
                  <label class="">Recipient's phone number</label><br>
                  <textarea rows="4" cols="14" id="recipients" name="recipients" onchange="readFieldRecipients(this)" placeholder="+11234567890&#10;+14087654322&#10;+16501234567" class="form-control text-input" data-placement="right" data-content="Please enter at least one recipient's phone number."></textarea>
                </div>
                <div class="block_space" id="recipient-phone-number" style="display: none">
                  <label class="">Phone number column(s)</label><br>
                  <div id="columns" class="form-control" style="display: none">-</div>
                  <br>
                  <label class="">Recipient's phone number column</label><br>
                  <input type="text" id="to-number-column" size="37" name="to_number_column" onchange="updateSampleRecipient()" class="form-control" placeholder="Enter phone number column name" data-toggle="popover" data-placement="right" data-content="Please specify the name of a column containing recipients' phone number."></input>
                </div>

                <br>
                <!--a class="form-control navbutton" href="javascript:nextView('second_block')">Next</a-->
              </div>
              <div id="block_2" class="input_page" style="display: none">
                <div id="csv-template-columns" class="block_space" style="display: none">
                  <label class="">Template columns</label><br>
                  <div id="template-columns" class="form-control">-</div>
                </div>
                <hr style="margin: 2px !important"></hr>

                <div class="block_space">
                  <!--label class="label-input" for="message">Message</label-->
                  <textarea rows="1" cols="60" id="message" name="message" oninput="updateSampleMessage()" class="form-control text-input" placeholder="Enter text message" data-placement="right" data-content="You can click a CSV column above to compose customized messages. E.g. Hello {name}"></textarea>
                </div>

                <div class="block_space">
                  <!--label class="label-input" for="signature"></label-->
                  <span data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Add 'Reply STOP to opt-out' to end of message.">Add opt-out instruction
                    <input type="checkbox" id="opt-out-instruction" name="opt_out_instruction" onchange="addOptoutInstruction(this)"></input>
                  </span>
                </div>
                <div class="block_space">
                  <!--label class="label-input">Recipient response</label-->
                  <span>Request response <input type="checkbox" id="expect-response" name="expect_response" onchange="enableExpectingResponse(this)"></input></span>
                  <!--span class="auto-reply-option">Auto-reply </span><input id="reply-enabler" name="reply_enabler" type="checkbox" onchange="showAutoReplyFields(this)"></input-->
                </div>
                <!--
                <a class="form-control navbutton" href="javascript:nextView('first_block')">Prev</a>
                <a class="form-control navbutton" href="javascript:nextView('third_block')">Next</a>
                -->
                <div id="recipient-response-block" style="display: none">
                  <div class="block_space">
                    <div>
                      <div class="block_space">
                        <span>Option 1: </span><input type="text" id="command_1" name="command_1" size="8" oninput="updatePreview('response')" placeholder="Response word" class="form-control text-input" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Response word (single word only!)"></input>
                        <input class="form-control text-input reply-option" type="text" id="reply-1" name="reply_1_message" oninput="updatePreview('reply')" placeholder="Enter auto-reply message (optional)" size="40"></input>
                        <!--span class="auto-reply-option">Auto-reply </span><input id="reply-1-enabler" name="reply_1_enabler" type="checkbox" onchange="showAutoReply(this, 1)"></input-->
                      </div>
                      <div class="block_space">
                        <span>Option 2: </span><input type="text" id="command_2" name="command_2" size="8" oninput="updatePreview('response')" placeholder="Response word" class="form-control text-input" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Response word (single word only!)"></input>
                        <input class="form-control text-input reply-option" type="text" id="reply-2" name="reply_2_message" oninput="updatePreview('reply')" placeholder="Enter auto-reply message (optional)" size="40"></input>
                        <!--span class="auto-reply-option">Auto-reply </span><input id="reply-2-enabler" name="reply_2_enabler" type="checkbox" onchange="showAutoReply(this, 2)"></input-->
                      </div>
                      <div class="block_space">
                        <span>Option 3: </span><input type="text" id="command_3" name="command_3" size="8" oninput="updatePreview('response')" placeholder="Response word" class="form-control text-input" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Response word (single word only!)"></input>
                        <input class="form-control text-input reply-option" type="text" id="reply-3" name="reply_3_message" oninput="updatePreview('reply')" placeholder="Enter auto-reply message (optional)" size="40"></input>
                        <!--span class="auto-reply-option">Auto-reply </span><input id="reply-3-enabler" name="reply_3_enabler" type="checkbox" onchange="showAutoReply(this, 3)"></input-->
                      </div>
                    </div>
                  </div>
                  <div class="block_space">
                    <span>Can respond more than once </span><input id="allow-correction" type="checkbox" name="allowed_correction"></input>
                  </div>
                  <div class="block_space">
                    <span>Response time period:
                      <input type="number" id="expire" name="expire" min="1" max="144" class="form-control" value="2"></input><span class="tail-word"> hours</span>
                    </span>

                  </div>
                  <hr style="margin: 2px !important"></hr>
                </div>
              </div>
              <div class="block_space">
                <input type="button" id="prevBtn" style="display: none" class="form-control rc-oval-btn" onclick="nextView('prev')" value="Prev"></input>
                <input type="button" id="nextBtn" style="display: inline;float: right" class="form-control rc-oval-btn" onclick="nextView('next')" value="Next"></input>
                <button id="submit" type="submit" class="form-control btn-rc" style="float: right;display: none" disabled onclick="sendBatchMessage(event)">Submit</button>
              </div>
            </form>
          </div>
        </div>
          <div class="col-lg-5">
            <div id="rejected-list-block" style="display: none">
            </div>
            <div id="preview-block" class="block_space" style="display: none">
                <div><h3>Campaign preview</h3>
                <div>
                  <img class="medium-icon" src="../img/campaign.png"></img><span id="preview-campain-name">N/A</span>
                </div>
                <div>
                  <img class="medium-icon" src="../img/sender.png"></img><span id="preview-from-number">N/A</span>
                </div>
                <div>
                  <img class="medium-icon" src="../img/recipient.png"></img><span id="preview-recipients">0</span>
                </div>
                <img class="medium-icon" src="../img/message.png"></img><span class="char-count" id="charcount">SMS length: 0 char.</span>
                <div class="sample-message-block">
                  <div class="all-samples">
                    <p id="sample" class="sample-message" style="display: none"></p>
                    <p id="response-sample" class="sample-response" style="display: none"></p>
                    <div style="clear: both"></div>
                    <p id="reply-sample" class="sample-message" style="display: none"></p>
                  </div>
                </div>
                <br>
                <div>
                  <p id="caplock_warning" style="display: none;max-width:320px"><span class="warning">WARNING:</span> To provide a good user experience, it is recommended to avoid all caps text!</p>
                  <p id="unsafe_link_warning" style="display: none;max-width:320px"><span class="error">STOP:</span> Include shortened url(s) may cause your message to get flagged as spam!</p>
                </div>
                <div class="block-space" style="width: 300px!important;">
                  <label class="warning">Estimated cost:</label>
                  <span class="cost warning" id="estimated_cost"> $0.00 USD *</span>&nbsp;&nbsp;<a href="javascript:showEstimateCostClaimer(0)">&#9432;</a><br>
                  <span id="survey-cost" style="display: none">
                    <label class="warning">Estimated survey cost:</label>
                    <span class="cost warning" id="estimated-survey-cost"> $0.00 USD *</span>&nbsp;&nbsp;<a href="javascript:showEstimateCostClaimer(1)">&#9432;</a>
                  <span>
                  <!--p class="claimed">* Estimates are for educational purposes only and may not include all message fees, such as fees for international SMS. The actual cost for sending these messages may be higher or lower.</p-->
                </div>
                <div>
                  <button id="cancel" class="form-control rc-oval-btn" onclick="showBlock('history')">Cancel new campaign</button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div id="history" class="col-lg-11" style="display: none;">
        <div id="history-info-block" class="row col-lg-12">
          <div class="col-lg-12 history">
            <div class="row col-lg-8">
              <h3>Campaigns</h3>
              <p>Create a new campaign to send a text messages to multiple contacts right now.</p>
            </div>
            <div class="col-lg-4">
              <button class="rc-oval-btn" onclick="createNewCampaign()" style="margin-top: 30px">Create new campaign</button>
            </div>
          </div>
          <div id="campaign-title" class="col-lg-12 history" style="margin-top:3px">Recent campaign</div>
          <div class="col-lg-12 history">
            <div class="col-lg-5 campaign-info-section">
              <table>
                <tr>
                  <td><div id="campaign-result" class="summary-section campaign-result"></div></td>
                  <td><div id="campaign-details" class="summary-section campaign-details"></div></td>
                </tr>
              </table>
            </div>
            <div class="col-lg-2 split"></div>
            <div id="vote-report" class="col-lg-5 campaign-info-section" style="display: none">
              <table>
                <tr>
                  <td><div id="vote-result" class="summary-section vote-result"></div></td>
                  <td><div id="vote-details" class="summary-section vote-details"></div></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div id="history-list-column" class="row col-lg-12">
          <div class="col-lg-12 history">Campaign history</div>
          <div id="history-header" class="col-lg-12 history">
            <div class="row col-lg-12 history-item header">
              <div class="row col-lg-3">Campaign name</div>
              <div class="col-lg-2">Date & Time</div>
              <div class="col-lg-1">Total</div>
              <div class="col-lg-1">Type</div>
              <div class="col-lg-2">Survey Status</div>
              <div class="col-lg-2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="The total cost of a suyvey includes the cost of customer's response and auto-reply messages">Total cost *</div>
              <div class="col-lg-1">Progress</div>
            </div>
          </div>
          <div id="history-list" class="col-lg-12 history"></div>
        </div>
      </div>
    </div>
  </section>
  <%- include('_footer') %>
</body>
</html>
