<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RingCentral High Volume SMS</title>
    <link href="./img/favicon.png" type="image/vnd.microsoft.icon" rel="shortcut icon">
    <link href="./img/favicon.png" type="image/vnd.microsoft.icon" rel="icon">
    <script src="js/settings.js" type="text/javascript"></script>
    <script src="js/common.js" type="text/javascript"></script>


    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/js/bootstrap-select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
      $(document).ready(function(){
          $('[data-toggle="popover"]').popover();
      });
    </script>

</head>
<body onload="init()">
  <%- include('_feedback_form') %>
  <%- include('_menu_header') %>

  <section id='content'>
    <div class="row col-lg-12">
      <%- include('_menu') %>
      <div id="control-col" class="col-lg-3 control-pane small-pane">
        <div class="form-inline" style="margin-top: 20px">
          <div id="contacts-block-btn" class="help-item active" onclick="showView('contacts-block')">Import Contacts</div>
          <div id="webhook-block-btn" class="help-item" onclick="showView('webhook-block')">Setup Webhook</div>
          <div id="optout-block-btn" class="help-item" onclick="showView('optout-block')">Opted-out Numbers</div>
        </div>
      </div>
      <div id="content-col" class="col-lg-7">
        <div id="contacts-block" class="form-inline col-lg-12" style="margin-top: 20px;">
          <div class="col-lg-6">
            <p class="info-text">Upload your contacts to improve user experience. If provided, contacts' name will be used instead of phone number on the message conversation list.</p>
            <form id="contact-form" class="form-group" enctype="multipart/form-data">
              <div class="block_space">
                <label class="">Load contacts from CSV file</label>
                <input type="file" id="csv-file" name="contacts" class="form-control" onchange="loadContactsFile(this)"></input>
              </div>
              <hr style="margin: 2px !important"></hr>
              <div id="columns-block" class="block_space" style="display: none">
                <div class="block_space">
                  <label class="label-input">CSV columns</label></br>
                  <div id="columns" class="form-control">-</div>
                </div>
                <div class="block_space">
                  <label class="label-input">Number column</label>
                  <input type="text" id="number-column" name="number_column" class="form-control" placeholder="enter column name" data-placement="bottom" data-content="Choose the column name for contact phone number."></input>
                </div>
                <div class="block_space">
                  <label class="label-input">First name column</label>
                  <input type="text" id="fname-column" name="fname_column" class="form-control" placeholder="enter column name" data-placement="bottom" data-content="Choose the column name for contact first name."></input>
                </div>
                <div class="block_space">
                  <label class="label-input">Last name column</label>
                  <input type="text" id="lname-column" name="lname_column" class="form-control" placeholder="enter column name" data-placement="bottom" data-content="Choose the column name for contact last name."></input>
                </div>
                <div class="block_space" id="update-group-field" style="display: none">
                  <label class="label-input">Select update group</label>
                  <select id="new-contact-groups" class="form-control" data-width="172" style="margin-top: 10px;" onchange="setContactGroupName()" title="Update group"></select>
                </div>
                <div class="block_space">
                  <label class="label-input">New group name</label>
                  <input type="text" id="group-name" name="group_name" class="form-control" placeholder="enter group name" data-placement="bottom" data-content="Specify a new name for this contact group. Or select an existing contact group to update."></input>
                </div>
                <button id="submit" type="submit" class="form-control btn-rc" onclick="uploadContactsFile(event)">Upload</button>
              </div>
            </form>
          </div>
          <div class="col-lg-6" id="my-contacts-pane" style="display: none">
            <div>
              <label class="label-input">My contacts</label>
              <select id="contact-groups" onchange="displayContacts()" class="form-control" title="My contact groups"></select>
              </br>
              <a id="delete-contact-btn" class="form-control navbutton" href="#" onclick="deleteSelectedContactsWarning();return false;">Delete selected contacts</a>&nbsp;&nbsp;
              <a id="delete-contact-btn" class="form-control navbutton" href="#" onclick="deleteWarning();return false;">Delete contact group</a>
            </div>
            <div id="contact-list" class="col-lg-12 contact-list"></div>
          </div>
        </div>
        <div id="webhook-block" class="form-inline col-lg-12" style="margin-top: 20px;display: none">
          <div id="webhook-inputs">
            <p class="info-text">Setup webhook to receive your campaign detailed report data (in JSON format) after a campaign is sent. For a survey campaign, you will receive the detailed survey result data as soon as the survey is completed or after the survey expired, which ever happens first.</p>
            <div class="block_space">
              <label class="label-input" for="webhook-address">Webhook address</label><br>
              <input id="webhook-address" class="form-control" type="text" size="73" value="" oninput="checkValueChange()" placeholder="Enter your webhook address"></input>
            </div>
            <div class="block_space">
              <label class="label-input" for="header-name">Header name</label><br>
              <input id="header-name" type="text" class="form-control" size="73" oninput="checkValueChange()" placeholder="Enter header name">
            </div>
            <div class="block_space">
              <label class="label-input" for="header-value">Header value</label>
              <a id="generator-btn" class="form-control navbutton" href="#" onclick="generateCode();return false;">Generate random value</a>
              <a id="copy-btn" class="form-control navbutton" href="#" onclick="copyHeaderValue();return false;">Copy header value</a><br>
              <input id="header-value" type="text" class="form-control" size="73" oninput="checkValueChange()" placeholder="Enter header value">
            </div>
            <!--hr style="margin: 2px !important"></hr-->
            <div class="block_space">
              <button id="set-webhook" class="form-control btn-rc" onclick="setWebhookAddress()">Set</button>
              <button id="delete-webhook" class="form-control btn-rc" onclick="deleteWebhookAddress()">Delete</button>
            </div>
          </div>
          <div id="code" class="scrollable"></div>
        </div>
        <div id="optout-block" class="form-inline col-lg-12" style="margin-top: 20px;display: none">
          <div id="optout-block-header" class="block_space">
            <label>My number</label>
            <% if (phoneNumbers.length > 1) { %>
            <select data-width="291" id="from-number" class="selectpicker filter-select" onchange="checkOptoutNumbers()" title="Select your phone number" data-placement="right" data-content="Please select a 'from' number">
            <% } else {%>
            <select data-width="291" id="from-number" class="selectpicker filter-select">
            <% } %>
            <% for (var item of phoneNumbers) { %>
              <option value="<%- item.number %>" selected><%= item.format %> - <%= item.type %></option>
            <% } %>
            </select>
            <!--button class="btn-rc inline" onclick="checkOptoutNumbers()">Read</button-->
            <div id="oo-numbers" class="block_space" style="display: none;margin-top: 15px;width: 315px;">
              <label>Opted-out numbers</label>
              <a class="navbutton" href="#" onclick="copyOptoutNumbersToClipboard();return false;" style="float: right">Copy</a>
            </div>
          </div>
          <div id="opted-out-list" class="opted-out-list"></div>
        </div>
    </div>
  </section>
  <%- include('_footer') %>
</body>
</html>
